{% extends "base.html" %}

{% block body %}
	<h1>Olá</h1>
  <p>Eu sou Murilo Ijanc'. No <a href="https://en.wikipedia.org/wiki/IRC">IRC</a> no ano de 99 me
  apresentava como
  <b>f_kernel</b>, participava ativamente dos canais #openbsd,
  #geek_republic, #linux4ever, etc. Caso queira entrar em contato de uma forma
  supostamente segura segue o link da minha <a href="{{ get_url(path="gpg.asc")
  }}">chave</a> PGP.</p>
  {% include "nav.html" %}
  <p>Sem rastreamento, sem cookies, sem coleta de dados, "sem javascript" a não
  ser para exemplos de projetos web e vou garantir que você saiba quando uso.
  Todo conteúdo desse website é feito por mim e antes que você pergunte não sou
  um IA.</p>
  <p>Já perdi as contas de blogs e conteúdos gerados nesses anos o último
  (2011) blog envolvia <a href="https://murilotri.blogspot.com/">meus
  treinos</a> de triathlon e ainda estou portando para esse.</p>
  <p>Esse website possui outra seções que não estão no menu e abaixo é um bom
  ponto de partida para navegar por essas seções.</p>
  <ul>
	  <li><a href="/training">Treinos</a></li>
    <li>Uso</li>
    <li>Livros</li>
    <li>Mídia</li>
    <li>Arte</li>
    <li><a href="/movies">Filmes</a></li>
  </ul>
  <h2>HTTP / HTTPS</h2>
  Esse website tem o objetivo de funcionar em computadores antigos bem
  como acessível por navegadores de terminais. Alguns computadores não suportam
  protocolo HTTPS por causa dos novos algoritmos ou limitações de memória/CPU.
  Por padrão o acesso do website é via HTTP mas o mesmo tem suporte completo
  para HTTPS com <a
    href="https://www.ssllabs.com/ssltest/analyze.html?d=ijanc.org&latest">classificação
    A+</a>, para isso basta alterar os links de HTTP para HTTPS.
  <h2>
    Palestras
  </h2>
  <ul>
    <li>Desáfios no tratamento e processamento de +1 milhão de dados meteorológicos
      - <a href="https://techinterior.com.br/2017/index.html">Tech Interior
        2017</a></li>
    <li>Crawleando com a framework <a href="https://www.scrapy.org/">Scrapy</a>
      - <a href="https://techinterior.com.br/2016/index.html">Tech Interior
        2016</a></li>
    <li>Redundância Firewall com protocolo <a href="https://man.openbsd.org/carp">CARP(4)</a> OpenBSD - <a href="https://semcomp.icmc.usp.br/">SEMCOMP 13 -
        USP São Carlos 2008</a></li>
  </ul>
  <h2>2025</h2>
  {% set posts = get_section(path="blog/_index.md") %}
{% set recent = posts.pages | sort(attribute="date") | reverse | slice(end=5) %}

<ul>
{% for post in recent %}
    <li>
        <a href="{{ post.permalink }}">{{ post.title }}</a>
        <small> — {{ post.date | date(format="%d/%m/%Y") }}</small>
    </li>
{% endfor %}
</ul>
  <main>
  {%- block content -%}{%- endblock content -%}
  </main>
{% endblock body %}
